@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

:root {
  margin: 0;
  font-family: 'Zilla Slab', 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* body {
  background-image: url(../public/wallpaper.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallery .tall {
    grid-row: span 2;
}